################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PointerPlace.CLI/**/bin
/PointerPlace.CLI/**/obj
/.vs
/PointerPlace.CLI/.vs/PointerPlace.CLI/v15
