################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PointerPlace.CLI/.vs/PointerPlace.CLI/v15
